*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

header{
    background-color: #4d88ff;
    height: 10px;
    max-height: 30px;
}
.header{
    /* background-color: red; */
    margin: 10px;
    height: 150px;
    max-height: 250px;
    width: 800px;
    min-width: 400px;
    padding: 20px;
}
.header >h2{
    margin-bottom: 2px;
}

.subheader{
    /* background-color: blue; */
    height: 500px;
    max-height: 500px;
    width:900px;
    min-width: 800px;
    margin: 10px;
    padding: 20px;
    
}
table{
    /* background-color: red;? */
    height: 150px;
    width:600px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
    margin: 10px;
}
table >tr> th{
   font: bold;
   margin: 4px;
   padding: 4px;
   /* background-color: red; */

}
 
table >tr td{
   /* font: bold; */
   margin-left: 4px;
   padding: 4px;

}
 
table tr{
    /* background-color: red; */
    /* display: block; */
    text-align: center;
}


